.task-list {
    min-width: 100%;
    border: 2px solid gray;
    border-radius: 8px;
    margin-top: 1rem;    
}
.todo-container {
    display: flex;
    max-width: 100%;
    margin-bottom: 1rem;
    border-top: 2px solid gray;
    border-radius: 8px;
}
.right-container, .left-container {
    margin: 1rem ;
}
.right-container i {
    padding: .5rem;
    border: 1px solid grey;
    cursor: pointer;
}