.background-banner {
    position: relative;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url(https://images.unsplash.com/photo-1627850604058-52e40de1b847?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80);
    opacity: 0.3;
}
.login-form {
    position: absolute;
    opacity: 10;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}